body {
    background-color: grey;
}

img {
    display: block;
    margin: 20px auto;
    width: 100%;
}

a {
    color:black;
}

a:hover {
    color:lightgray;

}

#container {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
}

header {
    font-size: 60px;
    text-align: center;
    color: grey

}

nav {
    text-align: center;
}

nav a {
    color: black;
    font-size: 22px;
    margin: 0 20px;

}

nav a:hover {
    color: lightgray;
    text-decoration: none;
}

main{

    background-color: grey;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;

}

img {
    border: 2px solid black;
    border-radius: 20px;
    width: 75%;
}

footer{
    background-color: lightgray;
    padding: 40px 0;
    text-align: center;
    color: yellow

}


